@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Index";
}

        
    <div class="w-100 align-items-center justify-content-center d-flex flex-column p-0 overflow-hidden bg-dark position-relative"
         style="height: 100vh;">
        <video id="video" autoplay loop muted style=" object-fit: cover; opacity: 0.7;" class="w-100 h-100">
        <source src="/Assets/back.mp4" type="video/mp4" id="videoBg">
        </video>
        
        <div class="position-absolute w-100" style="height: 100vh;">
            <div class="mainBox w-100 p-md-5 p-1 d-flex flex-column justify-content-between align-items-center"
                 style="overflow-y:auto;height:90vh;margin-top: 10vh;">
                <h1 class="p-2 mt-5"
                    style="font-family: 'Orbitron', sans-serif;color:#97E3FE;line-height:calc(1.5rem + 1.3vw);font-size: calc(0.8rem + 1.3vw);"
                    id="Infotext"></h1>
			<a asp-action="Show" asp-controller="Home" title="Start" id="gradientBtn" class="btn col-6 col-md-3 rounded-5 p-0 overflow-hidden mb-5"
                        style="border-width: 10px;background-clip: border-box;background-origin: border-box;">
                <img src="/Assets/Start.gif" alt="" style="height: 100%;width: 100%;">
                </a>
            </div>
        </div>
    </div>






    <script>
        window.onload = function () {
            var textElement = document.getElementById("Infotext");
            var Infotext = "Training your own Q&A bot is easy.<br> Just join as a member, upload your data, and create your own bot.<br> Please click on the button in the upper right corner to start using our application."; // 包含换行的文字

            var paragraphs = Infotext.split("<br>");
            var currentParagraph = 0;
            var currentChar = 0;

            function printNextChar() {
                if (currentParagraph < paragraphs.length) {
                    var currentText = paragraphs[currentParagraph];
                    if (currentChar < currentText.length) {
                        textElement.innerHTML += currentText.charAt(currentChar);
                        currentChar++;
                    } else {
                        textElement.innerHTML += "<br>";
                        currentParagraph++;
                        currentChar = 0;
                    }
                    setTimeout(printNextChar, 10); // 每个字符显示的时间间隔，可以根据需要调整
                }
            }

            printNextChar();
        };
        
        var Startbutton = document.getElementById("gradientBtn");
        var angle = 0;
        var animationFrameId = null;

        function changeGradient() {
            angle += 5; // 每次增加的角度

            if (angle >= 360) {
                angle = 0; // 将角度归零
            }

            var gradient = "linear-gradient(" + angle + "deg, #8F41E9, #578AEF)";
            Startbutton.style.backgroundImage = gradient;

            animationFrameId = requestAnimationFrame(changeGradient);
        }

        function throttleAnimation() {
            if (!animationFrameId) {
                animationFrameId = requestAnimationFrame(changeGradient);
            }
        }

        function stopAnimation() {
            cancelAnimationFrame(animationFrameId);
            animationFrameId = null;
        }

        // 启动动画
        throttleAnimation();



    </script>
