
<body>
    <div class="w-100 align-items-center justify-content-center d-flex flex-column" style="height: calc(100vh - 70px);">
        <a asp-controller="MemberLS" asp-action="Index" type="submit" class="btn btn-primary rounded-pill d-flex align-items-center justify-content-center" style="width:22.375rem; height: 5.75rem;"><p class="px-5 m-0" style="font-size: 36pt;">會員</p></a>
        <a asp-controller="UserLS" asp-action="UserLoginSingup" type="submit" class="btn btn-secondary rounded-pill mt-5 d-flex align-items-center justify-content-center" style="width:22.375rem; height: 5.75rem"><p class="px-5 m-0 " style="font-size: 36pt;">使用者</p></a>
    </div>
</body>

</html>