@model HKDB.Models.Application;//用VModel帶資料

<form asp-controller="MemberFunction" class="w-100 align-items-center justify-content-center d-flex flex-column px-2" style="height: calc(100vh - 70px);background-color: #2e1f6d;">
        <div class="row w-100 align-items-center justify-content-center flex-column flex-sm-row ">
        <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center" style="font-family: 'Orbitron', sans-serif;color:#48bee2;">Member ID</h1>
            <input type="text" asp-for="MemberId"
               class="h-100 col-md-5 col md-50 me-2 rounded-2"
               style="font-size: calc(1.375rem + 1vw);background-color:white;border:4px solid #48bee2;caret-color:white;"
                   value=@ViewBag.MemberCreatapp.MemberId
                   readonly>

        </div>
        <div class="row w-100 align-items-center justify-content-center mt-5 flex-column flex-sm-row" >
        <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center" style="font-family: 'Orbitron', sans-serif;color:#48bee2;">Model</h1>
        <div class=" col-md-5 col h-100 md-50 me-2 px-0 d-flex align-items-center justify-content-center" style="font-size: calc(1.375rem + 1vw);background-color:white;border:4px solid #48bee2;">
                <select asp-for="Model" class="form-select bg-body-secondary p-0" type="text"
                    style="font-size: calc(1.375rem + 1vw);">
                    <option class="w-100" value="gpt-35-turbo" selected style="width: 100%;background-color:white;">gpt-35-turbo</option>
                <option class="w-100" value="gpt-davinci-003" style="width: 100%;background-color:white;">gpt-davinci-003</option>
                <option class="w-100" value="text-curie-001" style="width: 100%;background-color:white;">text-curie-001</option>
                <option class="w-100" value="text-babbage-001" style="width: 100%;background-color:white;">text-babbage-001</option>
                <option class="w-100" value="text-ada-001" style="width: 100%;background-color:white;">text-ada-001</option>
                </select>
            </div>

        </div>
        <div class="row w-100 align-items-center justify-content-center mt-5 flex-column flex-sm-row" >
        <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center" style="font-family: 'Orbitron', sans-serif;color:#48bee2;">App Name</h1>
            <input asp-for="ApplicationName" class="h-100 col-md-5 col  md-50 me-2 " type="text"
               style="font-size: calc(1.375rem + 1vw);background-color:white;border:4px solid #48bee2;">

        </div>
        <div class="row w-100 align-items-center justify-content-center my-5 flex-column flex-sm-row">
        <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center" style="color:#48bee2;font-family: 'Orbitron', sans-serif;">Maxtoken</h1>
            <input asp-for="Parameter" class="h-100 col-md-5 col md-50 me-2 " type="text"
               style="font-size: calc(1.375rem + 1vw);background-color:white;border:4px solid #48bee2;" value="1024">
        </div>
    <div class="w-100 justify-content-around row position-absolute" style="height:100px;margin-top: 80px; bottom: 30px;">
        <input type="submit" class="btnhover btn col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center" style="font-family: 'Orbitron', sans-serif;font-size: calc(1.375rem + 1vw);background-color:#48bee2;" value="Create">
        <a asp-action="MemberIndex" asp-controller="Chat" class="btnhover btn  col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center" style="font-family: 'Orbitron', sans-serif;background-color:#fa435c;color:white;">
            <h1 class="m-0">cancel</h1>
            </a>
        </div>

    </form>

    <script>
        $('#rangeInput').on('input', function () {
            $('#rangeValue').text($(this).val());
        })
    </script>
