
    <form method="post" enctype="multipart/form-data" asp-controller="MemberFunction" class="w-100 align-items-center justify-content-center d-flex flex-column px-2" style="height:calc(100vh - 70px);">
        <div class="row w-100 align-items-center justify-content-center flex-column flex-sm-row "
             style="height: 100px;">
            <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center">上傳檔案</h1>
            @*<input class="h-100 col-md-5 col rounded-pill bg-body-secondary border-0 md-50 me-2 px-5 py-2 text-sm-start" type="file" style="font-size: 18pt;">*@
            <input type="file" class="form-control" name="files" id="fileUpload" accept=".pdf,.csv,.txt,.json" multiple />
        </div>
        <div class="w-100 justify-content-around row position-absolute"
             style="height:100px;margin-top: 80px; bottom: 30px;">
            <input type="submit" id="" class="btn btn-primary col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center" style="font-size: calc(1.375rem + 1vw);" value="上傳">
            <a asp-action="Index" asp-controller="Member"  class="btn btn-danger col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center">
                <h1>取消</h1>
            </a>
        </div>

    </form>

    <div class="text-center" id="loading" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function(){
        $("form").on("submit", function(){
            $("#loading").show();
        });
    });
</script>


