@using OneChatPage.ViewModels;
@using Microsoft.AspNetCore.Http;
@{
    var id = ViewData["title"] as string;
}

<body class="m-0">
    <div class="row w-100 m-0 " style=" height:calc(100vh);">
        <p class="m-0" style="height:70px; display:none" name="title">@id</p>
        <div class="col px-0 " style="height:calc(100% );">
            <div class=" bg-body-secondary rounded-4 " style="height: calc(100% - 3rem);overflow-y:scroll;">
                <!--問-->
                <div class="chat-content w-100 bg-body-secondary p-5 d-flex flex-column align-items-end" style="height:auto" id="mainChat">
                </div>
            </div>
            <div class="row w-100 m-0 px-2 align-items-center justify-content-center bg-secondary" style="height:3rem;">
                <div class="col p-0 h-75">
                    <textarea name="question" type="text" class="w-100 h-100" style="font-size: 1.8rem;resize:none;line-height: 2rem;" rows="3" placeholder="Please Enter The Question"></textarea>
                </div>
                <div class="col-3 p-0 h-75">
                    <button id="sendout" type="submit" class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center" style="font-size: 2rem;">
                        <p class="m-0 p-0">送出</p>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        //即時聊天室內容
        $(document).ready(function () {
            $('#sendout').click(function () {
                this.disabled = true;
                chatid = $(this).data('id');
                console.log("ok")
                var question = $('textarea[name="question"]').val();
                var questionDiv =
                    `<div class=" w-100 bg-body-secondary p-5 d-flex flex-column align-items-end" style="height:auto">
                                    <p class="m-0 h1">問</p>
                                    <p class="m-0 h4 mt-3">${question}</p>
                                </div>`;
                $(".chat-content").append(questionDiv);
                var id = $('p[name="title"]').text();
                $.ajax({
                    url: '/Chat/SendMessage',
                    type: 'POST',
                    data: { 'id': id, 'Message': question },
                    success: function (response) {
                        console.log(response);
                        var answerDiv =
                            `<div class=" w-100 bg-body-secondary p-5 d-flex flex-column" style="height:auto">
                                            <p class="m-0 h1">答</p>
                                            <p class="m-0 h4 mt-3">${response}</p>
                                         </div>`;
                        $(".chat-content").append(answerDiv);
                        $('#sendout').disabled = false;
                    }
                });
            });
        });

    </script>
</body>