@using HK_Project.ViewModels;
@using Microsoft.AspNetCore.Http;
@{
    //var chats = ViewBag.Userchatlist as List<Chat>;
    var chats = ViewBag.Chats as List<Chat>;
    var ChatQaHistory = ViewBag.ChatQaHistory as List<Qahistory>;
    //var Userappname = Context.Session.GetString("Userchoosename");
    var chathistory = ViewBag.ChatHistory;
    var chatlist = ViewBag.chatlist;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .slider-bar::-webkit-scrollbar {
            width: 8px; /* 设置滚动条宽度，根据需要调整 */
        }

        .slider-bar::-webkit-scrollbar-thumb {
            background-color: #4dafff; /* 设置滚动条滑块颜色，根据需要调整 */
            border-radius: 3px; /* 设置滚动条滑块圆角，根据需要调整 */
        }

            .slider-bar::-webkit-scrollbar-thumb:hover {
                background-color: #2175b9; /* 设置滚动条滑块在悬停时的颜色，根据需要调整 */
            }

        #quborder:before {
            content: "";
            top: -20px;
            right: -10px;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 10px 0 10px;
            border-color: transparent transparent transparent #41d3ff;
        }

        #quborder:after {
            content: "";
            top: -40px;
            right: 10px;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 0px 20px 10px;
            border-color: transparent transparent #41d3ff transparent;
        }

        #ansborder:before {
            content: "";
            top: -20px;
            left: 10px;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 10px 0 10px;
            border-color: transparent transparent transparent #fa435c;
        }

        #ansborder:after {
            content: "";
            top: -40px;
            left: 0px;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 0px 20px 10px;
            border-color: transparent transparent #fa435c transparent;
        }
    </style>
</head>

<body>
    <a class="btn col-3 d-flex align-items-center justify-content-center position-absolute mt-10"
       style="height: 75px;width: 75px;top: 75px;left: 10px; z-index: 2;background-color: #21174B;">
        <img src="/assets/List.png"
             alt="" class="w-100" id="list">
    </a>
    <div class="row w-100 m-0 flex-nowrap" style=" height:calc(100vh - 70px);background-color: #661586;">
        <div class="col-lg-4 row flex-column m-0 p-0 align-items-center h-100 flex-nowrap" id="leftbar">
            <div class="d-flex row justify-content-end p-0" style="height: 75px;margin-bottom:5px;margin-top: 5px;">

                <div class=" ms-sm-0 col-sm-8 col me-lg-0 me-2 d-flex align-items-center justify-content-center overflow-hidden " style="white-space: nowrap;font-size: calc(1rem + 1.5vw); font-family: 'Orbitron', sans-serif;background-color: #21174B;color: #6AAFF2;margin-left: 100px;height: 75px;" id="createbtn"><p class="m-0">Bot Name</p></div>
            </div>
            <div style="height:calc(100% - 85px);background-color: #21174B;" class="rounded-1 d-flex flex-column p-0">
                <div class=" px-2 slider-bar h-100" style="overflow: auto;"
                     id="chatHis">

                    @if (chatlist != null)
                    {
                        @foreach (var chat in chatlist)
                        {
                            <a data-id="@chat.ChatId" class="chat-button btn w-100 rounded-4 d-flex align-items-center justify-content-between x-2 chat-button fw-bolder overflow-hidden"
                               style=" white-space: nowrap; font-family: 'Orbitron', sans-serif;font-size: 2em; height: 80px; margin-top: 10px;background-color: #2c4296;color: #EBA4D2;">
                                <h1 class="col me-5 m-0 overflow-hidden" >@chat.ChatName</h1>
                                <div type="button" class="btn btn-outline-info p-2 border-2 "><h4 class="m-0">X</h4></div>
                            </a>
                        }
                    }
                </div>





            </div>
        </div>

        <div class="col ms-sm-1 px-0 h-100 " style="box-sizing:content-box;">
            <div class="mt-sm-1 me-sm-1 overflow-y-scroll px-1 slider-bar" id="chatPart" style="height: 99%;background-color: #21174B;">
                <!--問-->
                <div class="chat-content w-100 p-5 d-flex flex-column align-items-end"
                     style="height:auto;background-color: #21174B;">
                </div>
                @if (chathistory != null)
                {
                    @foreach (var item in chathistory)
                    {
                        <div class="hi w-100  py-5 px-lg-5 px-2 d-flex flex-column align-items-end"
                             style="height:auto ;background-color: #21174B;color: #fc8ad4;border-bottom:2px solid #fc8ad4;">
                            <div class="d-flex align-items-center">
                                <p class="m-0 h5 me-2">Question:</p>
                                <div class="rounded-circle overflow-hidden" style="height:2vw;width:2vw;min-height:30px;min-width:30px;">
                                    <img class="w-100 h-100" src="/assets/user1.jpg" alt="" />
                                </div>
                            </div>
                            <div class="mt-5 align-items-center rounded-3 justify-content-center w-75 h-auto p-3 position-relative" style="background-color:white;border:4px solid #48bee2;caret-color:white;" id="quborder">
                                <p class="m-0 h4 w-100 p-1" style="word-wrap: break-word;color:black;font-family:Arial, Microsoft JhengHei;">
                                    @item.QahistoryQ
                                </p>
                            </div>

                        </div>

                        <div class="hi w-100  py-5 px-lg-5 px-2 d-flex flex-column "
                             style="height:auto ;background-color: #21174B;color: #fc8ad4;border-bottom:2px solid #fa435c ;">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle overflow-hidden" style="height:2vw;width:2vw;min-height:30px;min-width:30px;">
                                    <img class="w-100 h-100" src="/assets/user1.jpg" alt="" />
                                </div>
                                <p class="m-0 h5 ms-2">:Answer</p>
                            </div>
                            <div class="mt-5 align-items-center rounded-3 justify-content-center w-75 h-auto p-3 position-relative" style="background-color:white;border:4px solid #fa435c;caret-color:white;" id="ansborder">
                                <p class="m-0 h4 w-100 p-1" style="word-wrap: break-word;color:black;font-family:Arial, Microsoft JhengHei;">
                                    @item.QahistoryA
                                </p>
                            </div>

                        </div>
                    }

                }



            </div>




        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>



        document.getElementById('list').addEventListener('click', function () {
            var leftbar = document.getElementById('leftbar');
            leftbar.classList.toggle('d-none');
        });


       

   
        //疊代出歷史聊天室內容
        $(document).ready(function () {
            $(".chat-button").click(function (e) {
                e.preventDefault();
                var chatId = $(this).data("id");
                console.log(chatId);
                $.ajax({
                    url: '/Chat/GetChatHistory',
                    type: 'POST',
                    data: { id: chatId },
                    success: function (data) {
                        // 清空現有的對話
                        $(".chat-content").empty();
                        //$(".hi").empty();
                        console.log(data)
                        // 添加新的對話
                        data.forEach(item => {
                            console.log(item);

                            var questionDiv = `


                                            <div class="w-100  py-5 px-lg-5 px-2 d-flex flex-column align-items-end"
                                     style="height:auto ;background-color: #21174B;color: #fc8ad4;border-bottom:2px solid #fc8ad4;">
                                    <div class="d-flex align-items-center">
                                        <p class="m-0 h5 me-2">Question:</p>
                                        <div class="rounded-circle overflow-hidden" style="height:2vw;width:2vw;min-height:30px;min-width:30px;">
                                            <img class="w-100 h-100" src="/assets/user1.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="mt-5 align-items-center rounded-3 justify-content-center w-75 h-auto p-3 position-relative" style="background-color:white;border:4px solid #48bee2;caret-color:white;" id="quborder">
                                        <p class="m-0 h4 w-100 p-1" style="word-wrap: break-word;color:black;font-family:Arial, Microsoft JhengHei;">
                                             ${item['qahistoryQ']}
                                        </p>
                                    </div>

                                </div>
                                        `;
                            var answerDiv = `


                                            <div class=" w-100  py-5 px-lg-5 px-2 d-flex flex-column "
                                     style="height:auto ;background-color: #21174B;color: #fc8ad4;border-bottom:2px solid #fa435c ;">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded-circle overflow-hidden" style="height:2vw;width:2vw;min-height:30px;min-width:30px;">
                                            <img class="w-100 h-100" src="/assets/user1.jpg" alt="" />
                                        </div>
                                        <p class="m-0 h5 ms-2">:Answer</p>
                                    </div>
                                    <div class="mt-5 align-items-center rounded-3 justify-content-center w-75 h-auto p-3 position-relative" style="background-color:white;border:4px solid #fa435c;caret-color:white;" id="ansborder">
                                        <p class="m-0 h4 w-100 p-1" style="word-wrap: break-word;color:black;font-family:Arial, Microsoft JhengHei;">
                ${item['qahistoryA']}
                                        </p>
                                    </div>

                                </div>

                                                    `;

                            $(".chat-content").append(questionDiv);
                            $(".chat-content").append(answerDiv);
                        });
                    }, Error: function (error) {
                        console.log("Error")
                        console.log(error);
                    }
                });
            });
        });


    </script>
</body>

</html>