<div class="w-100 position-relative" style="height: calc(100vh - 70px);">
    <div class="position-absolute w-100 h-100" style="z-index:20;background-color:black;">
        <img src="/assets/alex-knight--4pZ_YqcSFc-unsplash.jpg" alt="" class="w-100 h-100" style="opacity:0.3;" />
    </div>
    <form class="position-relative w-100 h-100 align-items-center justify-content-center d-flex flex-column row m-0" style="z-index:50;">
        <div class="w-100 align-items-center justify-content-center row flex-sm-row flex-column " style="height:86%">
            <div class="col row p-0 h-auto justify-content-sm-end justify-content-center align-items-sm-center align-content-end" style="box-sizing:border-box;">
                <a asp-action="Manage" asp-controller="MemberFunction" class=" p-0 btn btn-outline-secondary border-3 rounded-0 d-flex align-items-center justify-content-center" style="height:calc(7rem + 5vw);width:calc(7rem + 5vw);transform:rotate(45deg);margin-bottom:calc(4.75rem + 3.75vw)">
                    <h1 style="transform:rotate(-45deg);font-size: calc(1.075rem + 1.5vw);">會員管理</h1>
                </a>
                <a asp-action="Createapp" asp-controller="MemberFunction" class=" p-0 btn btn-outline-secondary border-3  rounded-0 d-flex align-items-center justify-content-center" style="height:calc(7rem + 5vw);width:calc(7rem + 5vw);transform:rotate(45deg);margin-top:calc(5.5rem + 4.5vw);margin-left:calc(-1.25rem - 1.25vw);">
                    <h1 style="transform:rotate(-45deg);font-size: calc(1.075rem + 1.5vw);">創建應用</h1>
                </a>
            </div>
            <div class=" col row p-0 h-auto justify-content-sm-start justify-content-center align-items-sm-center align-content-start mt-sm-0" style="margin-left:calc(-0.75rem - 1vw);margin-top:-1.5rem;">
                <a asp-action="Chooseapp" asp-controller="Chat" class=" p-0 btn btn-outline-secondary border-3 rounded-0 d-flex align-items-center justify-content-center" style="height:calc(7rem + 5vw);width:calc(7rem + 5vw);transform:rotate(45deg);margin-bottom:calc(4.75rem + 3.75vw)">
                    <h1 style="transform:rotate(-45deg);font-size: calc(1.075rem + 1.5vw);">選擇應用</h1>
                </a>
                <a asp-action="Qa" asp-controller="Chat" class=" p-0 btn btn-outline-secondary border-3  rounded-0 d-flex align-items-center justify-content-center" style="height:calc(7rem + 5vw);width:calc(7rem + 5vw);transform:rotate(45deg);margin-top:calc(5.5rem + 4.5vw);margin-left:calc(-1.25rem - 1.25vw);">
                    <h1 style="transform:rotate(-45deg);font-size: calc(1.075rem + 1.5vw);">使用問答</h1>
                </a>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center mt-2 row" style="height:12%">
            <a asp-action="Signout" asp-controller="MemberLS" class="btn btn-warning col-6  h-100 d-flex align-items-center justify-content-center"><h1>Log Out</h1></a>
        </div>
    </form>

</div>