<!DOCTYPE html>
<html lang="en">



<body>
    <form class="w-100 align-items-center justify-content-center d-flex flex-column row m-0" style="height: calc(100vh - 70px);">
        <div class="w-100 align-items-center justify-content-center row row-cols-2 gap-lg-4 p-2" style="height:86%">
            <a asp-action="Manage" asp-controller="MemberFunction" class="btn btn-outline-secondary border-3 h-50 col-lg-2 col-md-3 col rounded-4 d-flex align-items-center justify-content-center"><h1>會員管理</h1></a>
            <a asp-action="Createapp" asp-controller="MemberFunction" class="btn btn-outline-secondary border-3 h-50 col-lg-2 col-md-3 col rounded-4 d-flex align-items-center justify-content-center"><h1>創建應用</h1></a>
            <a asp-action="Chooseapp" asp-controller="Chat" class="btn btn-outline-secondary border-3 h-50 col-lg-2 col-md-3 col rounded-4 d-flex align-items-center justify-content-center"><h1>選擇應用</h1></a>
            <a asp-action="Qa" asp-controller="Chat" class="btn btn-outline-secondary border-3 h-50 col-lg-2 col-md-3 col rounded-4 d-flex align-items-center justify-content-center"><h1>使用問答</h1></a>
        </div>
        <div class="w-100 d-flex justify-content-center mt-2 row" style="height:12%">
            <a asp-action="Signout" asp-controller="MemberLS" class="btn btn-warning col-6  h-100 d-flex align-items-center justify-content-center"><h1>Log Out</h1></a>
        </div>
    </form>

</body>

</html>