


    <div class="w-100 align-items-center justify-content-center d-flex flex-column" style="height: calc(100vh - 70px);background-color:#2e1f6d;">
    <a asp-action="LogIn" asp-controller="MemberLS" type="button" class="btn rounded-pill d-flex align-items-center justify-content-center" style="width:calc(15rem + 5vw); height: 7.5rem ;background-color: #48bee2;"><p class="px-5 m-0" style="font-size: calc(1.375rem + 1.5vw);font-family: 'Orbitron', sans-serif;white-space:nowrap;">Log in</p></a>
    <a asp-action="SignUp" asp-controller="MemberLS" type="button" class="btn rounded-pill d-flex align-items-center justify-content-center" style="width:calc(15rem + 5vw); height:7.5rem;background-color: #d84dcc;margin-top:3.5rem;"><p class="px-5 m-0 " style="font-size: calc(1.375rem + 1.5vw);font-family: 'Orbitron', sans-serif;white-space:nowrap;">Sign Up</p></a>
    <a asp-action="Show" asp-controller="Home" type="button" class="btn rounded-pill d-flex align-items-center justify-content-center" style="width:calc(15rem + 5vw); height:7.5rem;background-color: #fa435c;margin-top:3.5rem;"><p class="px-5 m-0 " style="font-size: calc(1.375rem + 1.5vw);font-family: 'Orbitron', sans-serif;white-space:nowrap;">Home</p></a>
    </div>
    <script>
        
    </script>

