@model HK_Project.ViewModels.PasswordLSViewModel



<div class="w-100" style="background-color: #2e1f6d;font-family: 'Orbitron', sans-serif;height: calc(100vh - 70px);">
    <form asp-controller="MemberLS" class="h-100 w-100 align-items-center justify-content-center d-flex flex-column">
        <div class="row w-100 align-items-center justify-content-center flex-md-row flex-column px-5 px-md-0" style="height: auto;">
            <label asp-for="Email" class="col-md-3 col d-flex m-0 h-100 align-items-center justify-content-center me-md-4"><h1 class="m-0" style="color:#48bee2;white-space:nowrap;">Account :</h1></label>
            <input asp-for="Email" class="h-100 col-md-5 col rounded-2 mt-md-0 mt-4" type="text" style="font-size: calc(1.375rem + 1vw);background-color:#281961;border:8px solid #48bee2;caret-color:white;"id="account">
        </div>
        <div class="mb-5 row w-100 align-items-center justify-content-center mt-5 flex-md-row flex-column  px-5 px-md-0" style="height: auto;">
            <label asp-for="Password" class="col-md-3 col d-flex m-0 h-100 align-items-center justify-content-center me-md-4"><h1 class="m-0" style="color:#48bee2;white-space:nowrap;">Password :</h1></label>
            <input asp-for="Password" class="h-100 col-md-5 col rounded-2 mt-md-0 mt-4" type="password" style="font-size: calc(1.375rem + 1vw);background-color:#281961;border:8px solid #48bee2;caret-color:white;"id="password">
        </div>
        <div class="w-100 justify-content-around row position-absolute" style="height:100px;margin-top: 80px; bottom: 30px;">
            <input type="submit" class="btn col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center" style="font-size: calc(1.375rem + 1vw);background-color:#48bee2;" value="Sign in">
            <a asp-controller="MemberLS" asp-action="Index" class="btn col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center" style="background-color:#fa435c;color:white;"><h1 class="m-0">Cancel</h1></a>
        </div>
    </form>

</div>
<script>
    const account = document.getElementById("account");

    account.addEventListener("focus", function (e) {
        e.target.style.backgroundColor = "white";
    });
    if(account.value != ""){
        account.style.backgroundColor = "white";
    }
    const password = document.getElementById("password");

    password.addEventListener("focus", function (e) {
        e.target.style.backgroundColor = "white";
    });
    if (password.value != "") {
        password.style.backgroundColor = "white";
    }
</script>